<div class="container">
    <div class="form">
        <h2 class="formTitle">Application form for token student debt</h2>
        <div class="confirmationMessage">
            <div class="col-sm-12">
              <p>
                De token ter representatie van uw studieschuld is aangemaakt. <br />
                Voeg het volgende tokenaddress toe aan uw wallet: <br />
                0x75576d08c398157a5053d49f5d6fbb22514ff157
              </p>
            </div> 
        </div>
    </div>
</div>
