.form {
    position: relative;
    padding-right: 7%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
}

.formTitle {
    padding-left: 2%;
}

.confirmationMessage {
    padding-left: 2%;
    width: max-content;
}