<div class="container">
    <div class="form">
        <h3 class="formTitle"><b>Application form for token student debt</b></h3>
        <form [formGroup]="debtForm" (ngSubmit)="submit()">

            <div class="form-group row">
                <label for="First Name" class="col-sm-6 col-form-label">BSN:</label>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Enter your BSN</mat-label>
                        <input matInput type="number" placeholder="Enter your BSN" formControlName="bsn">
                    </mat-form-field>
                </div>
            </div>

            <div class="form-group row">
                <label for="walletAddress" class="col-sm-6 col-form-label">Your Wallet Address:</label>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Input your wallet address</mat-label>
                        <input matInput placeholder="Input your wallet address" formControlName="wallet">
                        <mat-hint>Hint: Metamask wallet address</mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>
