<div class="container">
    <div class="form">
        <h3 class="formTitle"><b>Application form for token student debt</b></h3>
        <form [formGroup]="debtForm" (ngSubmit)="submit()">

            <!-- <div class="form-group row">
                <label for="selectInstitution" class="col-sm-6 col-form-label">Educational Institution:</label>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Select an educational institution</mat-label>
                        <mat-select formControlName="school">
                            <mat-option *ngFor="let institution of institutions" [value]="institution.code">
                                {{institution.name}}
                              </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div> -->

            <div class="form-group row">
                <label for="selectDebt" class="col-sm-6 col-form-label">Student Debt:</label>
                <div class="col-sm-6">
                    <mat-button-toggle-group name="debtOption" aria-label="Font Style" formControlName="debt" (change)="detectChange()">
                        <mat-button-toggle value="no">No</mat-button-toggle>
                        <mat-button-toggle value="yes">Yes</mat-button-toggle>
                      </mat-button-toggle-group>
                </div>
            </div>

            <fieldset class="form-group" *ngIf="!show">
                <div class="row">
                    <legend class="col-form-label col-sm-6">Amount of student debt:</legend>
                    <div class="col-sm-6 debtValues">
                        <div class="form-check">
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="radioButtonGroup" formControlName="debtAmount">
                                <mat-radio-button class="radioButton" *ngFor="let debt of debts" [value]="debt" >
                                    {{debt}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="form-group row">
                <label for="selectDebt" class="col-sm-6 col-form-label">Send Confirmation Email:</label>
                <div class="col-sm-6">
                    <mat-button-toggle-group name="emailOption" aria-label="Font Style" formControlName="email">
                        <mat-button-toggle value="no">No</mat-button-toggle>
                        <mat-button-toggle value="yes">Yes</mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>

            <div class="form-group row">
                <label for="walletAddress" class="col-sm-6 col-form-label">Your Wallet Address:</label>
                <div class="col-sm-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Input your wallet address</mat-label>
                        <input matInput placeholder="Input your wallet address" formControlName="wallet">
                        <mat-hint>Hint: Metamask wallet address</mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>