<body>
  
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" routerLinkActive="activebutton" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-book-alt"></i> <span>Skills</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Shane Partoredjo</h1>
      <p>I'm an Application Developer & Software Engineering</p>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/shane-partoredjo/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>I Graduated at ID College with a degree in Application Development and since 2022 I also received my bachelor Software Engineering at The Hague University of Applied Science.</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="assets/img/profile.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <h3>Application Developer &amp; Software Engineer.</h3>
            <p class="font-italic">
              In the underlying text you can find more background information about who I am.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>17 September 1998</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Zuid-Holland, Netherlands</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>24</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>shane_partoredjo@hotmail.com</span></li>
                </ul>
              </div>
            </div>
            <p>
                My name is Shane Partoredjo, I'm 24 years old and recently finished the study HBO-ICT with Software Engineering as my specialization. Some of my hobbies are gaming (both solo and with friends) and learning new things!
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Here I describe some of the programming languages/skills that I'm most familiar with. I do have knowledge of more languages/programs however since they aren't my strongest points I won't list them, however I do understand the basics of them and you can either find them on my LinkedIn page or ask me about them directly.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">HTML <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar"><mat-progress-bar mode="determinate" value="90"></mat-progress-bar></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar"><mat-progress-bar mode="determinate" value="80"></mat-progress-bar></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">MySQL <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar"><mat-progress-bar mode="determinate" value="60"></mat-progress-bar></div>
              </div>
            </div>

            <div class="progress">
                <span class="skill">Java <i class="val">60%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar"><mat-progress-bar mode="determinate" value="60"></mat-progress-bar></div>
                </div>
            </div>
            
            <div class="progress">
                <span class="skill">Angular <i class="val">75%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar"><mat-progress-bar mode="determinate" value="70"></mat-progress-bar></div>
                </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">OOP <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar"><mat-progress-bar mode="determinate" value="80"></mat-progress-bar></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">C# <i class="val">75%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar"><mat-progress-bar mode="determinate" value="90"></mat-progress-bar></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Git <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar"><mat-progress-bar mode="determinate" value="75"></mat-progress-bar></div>
              </div>
            </div>

            <div class="progress">
                <span class="skill">UML <i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar"><mat-progress-bar mode="determinate" value="80"></mat-progress-bar></div>
                </div>
            </div>

            <div class="progress">
                <span class="skill">Scrum <i class="val">80%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar"><mat-progress-bar mode="determinate" value="60"></mat-progress-bar></div>
                </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          <p>In this section I will briefly summarize my resume and this includes the work that I have done so far and the experiences that I have made during my career.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Shane Partoredjo</h4>
              <p><em>Started my programming journey back in 2014 with the study of Application Development and finished it in 2017. After I graduated as an Application Developer I decided to pursue a study in Software Engineering which I finished in 2022.</em></p>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>MBO Application Developer</h4>
              <h5>2014 - 2017</h5>
              <p><em>ID College, Zoetermeer, ZH</em></p>
              <p>This study helped me learn the basics of programming. Mainly learned about web development and this includes front-end aswell as back-end programming.</p>
            </div>
            <div class="resume-item">
              <h4>Bachelor HBO-ICT Software Engineering</h4>
              <h5>2017 - Current</h5>
              <p><em>The Hague University of Applied Science, The Hague, ZH</em></p>
              <p>This study started off with the possibility to choose a specialization route within the first half year of the study. I chose the specialization Software Engineering. I received my Propaedeutics after my 2nd year.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Experiences</h3>
            <div class="resume-item">
              <h4>Web developer internship @ BlazTer</h4>
              <h5>2015 - 2016</h5>
              <p><em>Binckhorst, The Hague, ZH </em></p>
              <ul>
                <li>Primarily made WordPress websites for clients</li>
                <li>Small tasks which includes designing business cards in PhotoShop</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Graduation internship @ BBCI</h4>
              <h5>2017 - 2017</h5>
              <p><em>Vianen, Utrecht</em></p>
              <ul>
                <li>Worked on a sign up system which included front-end and back-end work.</li>
                <li>Implemented Google API to autofill address</li>
                <li>Languages which were mostly used are: HTML, CSS, PHP, MySQL</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Internship @ Echt Nederlands</h4>
              <h5>2019 - 2020</h5>
              <p><em>The Hague, ZH</em></p>
              <ul>
                <li>Started developing a Student Management System which needed front-end and back-end development.</li>
                <li>Implemented the usage of a REST Api to make calls to the back-end to retrieve data & Used the NGRX Angular Framework.</li>
                <li>Languages which were mostly used are: HTML, SCSS, Angular, Typescript, C#, MySQL</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer"></footer><!-- End Footer -->

</body>